/* Vos customisations des classes de Bootstrap */




/* Responsive Styling */

@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}
/* header*/
.header{
	background-color: #293133;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 1% 0 1% 0;
}
.menu a:link, .menu a:visited{
	color: grey;
	text-decoration: none;
}
.menu{
   width: 15%;
   display: flex;
   justify-content: space-between;
}
/*fin du header*/

/*1ere partie*/
#home{
	text-align: center;
	margin-top: -2%;
	color: white;
}
.texte{
	width: 54%;
	margin-left: 23%;
}
h1.display-4{
	font-size: 58px;
}
p.lead{
	font-size: 16px;
}
hr{
	visibility: hidden;
}
.jumbotron{
	background-image: url(../images/hero-image.jpg);
}
/* fin de la 1ere partie*/

/* Début 2éme partie*/
#who{
	text-align: center;
	width: 54%;
	margin-left: 24%;
}
h2{
	color: #d9534f;
	font-weight: bold;
}
/* fin de la 2éme partie*/

/* Début 3émé partie*/
#get-involved{
	background-color: #f3f3f3;
	text-align: center;
	padding-top: 2%;
}
.container{
	width: 55%;
	margin-top: -5%;
	padding-top: 5%;
	padding-bottom: 2%;
}
h3{
	color: #d9534f;
	font-weight: bold;
}

/* fin de la 3éme partie*/

/*footer*/
footer{
	background-color: #d9534f;
	padding-top: 5%;
	padding-bottom: 2%;
}
.imagefooter{
	margin-left: 15%;
}